html {
    height: 100%;
}

body {
    padding-top: 60px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    height: 100%;
}

.panel-heading {
    cursor: pointer;
}

#main {
    overflow-x: auto;
    height: 100%;
    position: relative;
}

div.alert + #main {
    height: calc(100% - 75px);
}

.astrolabe-container {
    position: relative;
    display: inline-block;
}

.rune {
    min-width: 10px;
    min-height: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    border-radius: 100px;
}

.rune.rune-center {
    background-color: gold !important;
    border-color: gold !important;
    transform: scale(1.5);
}

.rune.rune-checked {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.rune.rune-saved {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.rune.rune-special {
    border-color: #f0ad4e;
    transform: scale(1.5);
}

.rune.rune-not-available {
    background: rgba(222, 222, 222, 0.2);
    border: none;
    cursor: not-allowed;
}

.popover-title {
    padding: 5px;
}

.rune-icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 33px;
    margin-right: 15px;
    cursor: pointer;
}

.rune-icon.rune-off-1 {
    background-image: url(../img/Rune_Off_1.png);
}

.rune-icon.rune-off-2 {
    background-image: url(../img/Rune_Off_2.png);
}

.rune-icon.rune-off-3 {
    background-image: url(../img/Rune_Off_3.png);
}

.rune-icon.rune-off-4 {
    background-image: url(../img/Rune_Off_4.png);
}

.rune-icon.rune-off-5 {
    background-image: url(../img/Rune_Off_5.png);
}

.rune-icon.rune-off-6 {
    background-image: url(../img/Rune_Off_6.png);
}

.rune-icon.rune-on-1 {
    background-image: url(../img/Rune_On_1.png);
}

.rune-icon.rune-on-2 {
    background-image: url(../img/Rune_On_2.png);
}

.rune-icon.rune-on-3 {
    background-image: url(../img/Rune_On_3.png);
}

.rune-icon.rune-on-4 {
    background-image: url(../img/Rune_On_4.png);
}

.rune-icon.rune-on-5 {
    background-image: url(../img/Rune_On_5.png);
}

.rune-icon.rune-on-6 {
    background-image: url(../img/Rune_On_6.png);
}

.rune-panel {
    position: absolute;
    top: 60px;
    right: 25px;
    z-index: 500;
}

.rune-panel .rune-panel-main {
    background: rgba(220, 220, 220, 0.9);
    padding: 5px 10px;
    min-width: 100px;
    text-align: right;
}

.rune-panel .rune-panel-main>div {
    margin: 5px 0;
}

.rune-panel .rune-panel-switch {
    width: 50px;
    height: 0;
    cursor: pointer;
    float: right;
    border-top: 15px solid #666;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.rune-panel .rune-panel-divider {
    margin: 5px 0;
    height: 1px;
    background: white;
}

.notAvailable {
    filter: grayscale(100%);
}

button.close {
    line-height: 30px;
    font-size: 30px;
}

.top-background {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 125px;
    background: linear-gradient(180deg, white, white 75px, transparent 100px, transparent);
    z-index: 3;
}

.row-top-buffer {
    margin-top: 20px;
}

.noUi-connect {
    background: #337ab7;
}